li{
    padding: 10px;
    margin:10px;
    background:black;
}

ul{
    padding:10px;
    margin:10px;
    background:black
}

button{
    color: white;
}

body{
    background-color: orange;
}

p{
    color: black;
}
h1{
    color: black;
}
h2{
    padding:5%;
    margin:5%;
    background: lightgrey;
}
.img-fluid{
    width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  }